DB_USER=postgres
DB_PASSWORD=root
DB_NAME=posts_db
DB_HOST=prooflift-posts-db

JWT_SECRET_KEY=your_secret_key_here
JWT_ALGORITHM=HS256

MQ_HOST=prooflift-notifications-mq
MQ_PORT=5672
MQ_USER=guest
MQ_PASSWORD=guest
MQ_QUEUE=notifications_queue